.page {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.main {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    padding: clamp(1rem, 2vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: bold;
    text-align: center;
    padding-top: clamp(0.5rem, 2vh, 1rem);
    padding-bottom: clamp(1rem, 3vh, 2rem);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.label {
    font-size: clamp(1rem, 1.8vw, 1.3rem);
    margin-bottom: 0.3rem;
    color: #767676;
    font-weight: 450;
}

.input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.btnGroup {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.submitBtn,
.cancelBtn {
    flex: 1;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.cancelBtn {
    border: 2px solid #8a79d4;
    background: #ffffff;
    font-size: clamp(1rem, 1.8vw, 1.3rem);
}

.submitBtn {
    background: #8a79d4;
    color: white;
    font-size: clamp(1rem, 1.8vw, 1.3rem);
}