.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: clamp(1rem, 3vw, 2rem);
}

.main {
  flex: 1;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding: clamp(1rem, 2vw, 2.5rem);
  padding-bottom: clamp(2rem, 10vw, 7rem);
}


.textTitle {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: clamp(0.5rem, 2vw, 0.75rem) clamp(0.3rem, 1.5vw, 0.5rem);
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.textArea {
  display: block;
  margin: 1rem 0;
  width: 100%;
  height: clamp(16rem, 25vh, 20rem);
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: clamp(0.95rem, 1.5vw, 1.1rem);
}

.uploadImg {
  min-height: clamp(4rem, 6vh, 5rem);
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 8px;
  white-space: nowrap;
  scrollbar-width: none;
}

.tagTitle {
  padding-top: 1rem;
  font-size: clamp(0.85rem, 1.2vw, 1.05rem);
  font-weight: bold;
  color: #4b5563;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: clamp(0.2rem, 1vw, 0.3rem);
  padding: clamp(0.4rem, 1vw, 0.3rem) clamp(0.6rem, 2vw, 1rem);
  border-radius: 999px;
  border: 1.5px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: clamp(0.85rem, 1.2vw, 1.05rem);
  color: #a1a0a0;
  font-weight: bold;

}

.tagActive {
  color: #fff;
  background: #BC76BA;
  border-color: #BC76BA;
  font-weight: bold;
}

.btnGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: clamp(2rem, 6vw, 7rem);
  margin-bottom: 2rem;
}

.submitBtn,
.cancelBtn {
  flex: 1;
  padding: clamp(0.4rem, 1.5vw, 0.6rem);
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.submitBtn {
  background: #8a79d4;
  color: white;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
}