.header {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
}

.headerInner {
  height: clamp(2.5rem, 5vw, 3.8rem);   
  margin-left: clamp(0.8rem, 1.5vw, 1.6rem);
  margin-right: clamp(0.8rem, 1.5vw, 1.6rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: clamp(6.5rem, 10vw, 8.5rem);  
}

.headerIcon{
  font-size: clamp(1.2rem, 2vw, 1.6rem) !important;  
}

/* ===== 하단 탭바 ===== */
.bottomNav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background: #fff;
  border-top: 1px solid #e2e2e2;
}

.bottomInner {
  height: clamp(3rem, 6vw, 4.2rem);  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tabBtn {
  display: grid;
  place-items: center;
  color: #B6B6B6;
}

.tabActive {
  color: #000;
}

.bottomIcon {
  font-size: clamp(1.5rem, 3vw, 2.3rem) !important;  
}
