.page {
  min-height: 100dvh;
  background-color: #fff;
}

.main {
  padding-top: clamp(1rem, 2vw, 2rem);
  padding-left: clamp(1rem, 2vw, 2rem);
  padding-right: clamp(1rem, 2vw, 2rem);
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding-bottom: clamp(5rem, 10vw, 7rem);
}
