.page {
  min-height: 100dvh;
  background-color: #fff;
}

.main {
  padding: clamp(1rem, 2vw, 2rem);
  width: clamp(20rem, 100vw, 70rem);
  max-width: 65rem;
  margin: 0 auto;
}

/***** 카테고리 *****/
.filterRow {
  display: flex;
  gap: clamp(0.25rem, 1vw, 0.6rem); 
  margin-bottom:clamp(0.7rem, 1.2vw, 1.2rem);
  font-weight: bold;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.chip {
  padding: clamp(0.3rem, 0.6vw, 0.6rem) clamp(0.6rem, 1vw, 1rem);
  border-radius: 100vh;
  background: #fff;
  color: #4b5563;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  border: 1.5px solid #CCCCCC;
  cursor: pointer;
  line-height: 1.5;  
}

.chipActive {
  background: #BC76BA;
  color: #fff;
}

.fab {
  position: fixed;
  right: clamp(1rem, 2vw, 2rem);    
  bottom: clamp(4.5rem, 8vw, 6rem);  
  width: clamp(3.2rem, 4.5vw, 4rem); 
  height: clamp(3.2rem, 4.5vw, 4rem);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #E89B00;
  color: #fff;
  border: bold;
  box-shadow: 0px 8px 8px #dbdbdb;
  cursor: pointer;
}