.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding: clamp(1rem, 2vw, 2rem);
  padding-bottom: clamp(5rem, 10vw, 7rem);
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
  padding: 1.5rem;
  margin-bottom: 12px
}


.cardTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 0.5rem;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: bold;
  border-bottom: 1px solid #e7e7e7;
}

.muted {
  color: #9aa0a6;
  padding-right: 0.5rem;
}

.formCol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
}

.field {
  display: grid;
  grid-template-columns: 72px 1fr;
  gap: 8px;
  align-items: center;
}


.label {
  color: #6b7280;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  font-weight: 450;
  padding: 5px;
  margin-right: 5px;
}

.text {
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  font-weight: 350;
  text-align: right;
  padding-right: 0.5rem;
}

.listRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  color: #6b7280;
  text-decoration: none;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  font-weight: 450;
}

.listRow:first-of-type {
  border-top: none;
}



.btn {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 0.5rem;
  font-size: clamp(0.75rem, 1.5vw, 0.95rem);
  font-weight: 400;
}

.changePWbtn {
  color:rgb(70, 70, 247);
}

.deleteAccBtn {
  color: rgb(251, 95, 95);
  text-align: right;
}