.search {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  margin: 1rem 0;          
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 50rem;     
}

.input {
  flex: 1;
  width: 100%;
  max-width: 60rem;
  height: clamp(2.5rem, 4vw, 3rem);
  border-radius: 999px;
  border: 1px solid #bebebe;
  padding: 0 1rem;
  background: #f5f5f5;
  outline: none;
  font-size: clamp(0.75rem, 1.5vw, 0.95rem);
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #6200ffcd; 
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.iconBtn {
  flex: none;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background: #fff;
  color: #474747;
}

.iconBtn:hover {
  background: #f4f6f8;
}
